<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EBO FK</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ opened_page }}">
          <a class="nav-link" href="{% url 'opened' %}">Nyitott</a>
        </li>
        <li class="nav-item {{ suspended_page }}">
          <a class="nav-link" href="{% url 'suspended' %}">Felfüggesztett</a>
        </li>
        <li class="nav-item {{ petition_page }}">
          <a class="nav-link" href="{% url 'petition' %}">Felterjesztett</a>
        </li>
		<li class="nav-item {{ department_page }}">
          <a class="nav-link" href="{% url 'department' %}">Osztályos</a>
        </li>
        <li class="nav-item {{ closed_page }}">
          <a class="nav-link" href="{% url 'closed' %}">Lezárt</a>
        </li>
        <li class="nav-item {{ late_page }}">
          <a class="nav-link" href="{% url 'late' %}">Lejáró ügyek</a>
        </li>
      </ul>
    </div>
  </nav>